.mr-text-color{
   color: #4a4a4a;
}
.mr-slide-height{
   min-height: 90vh;
}
.mr-slide-caption-mb{
   margin-bottom: 200px;
}
.mr-success-bg{
   background-color: #F4FAFD;
}
.mr-width-icon{
   width: 50px;
}
.mr-height-icon{
   height: 50px;
}